
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(220, 223, 228);
}

nav ul li {
    display: inline;
    margin-left: 40px;

}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
nav ul li a:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.24);
  
}
/* .nav ul li a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background:  linear-gradient(to top, #0159ab, #3c1053);
	z-index: -1;
	transition: all .4s;
}

.nav ul li a:hover::before{
	height: 50%;
} */

nav {
    display: flex;
    background-color: rgb(236, 236, 236);
    height: 7vh;
}

nav div {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}

nav .left-side {
    flex: 50%;
}
nav .right-side {
    flex: 50%;
    justify-content: flex-end;
    align-items:center;
}

nav .right-side a {
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
}
h1{
    text-align: center;
}

/* form pengisian data */
.container-main{
    width:100%;
    background-color: rgb(220, 223, 228);
    margin: auto;
    height: 750px;
    padding-top: 40px;
}
.container-main h1{
    font-weight: 700;
    font-size: 40px; 
}
.container-form{
    width: 600px;
    background-color: rgb(220, 223, 228);

    margin: auto;
    height: 600px;
}
.container-form div {
    margin-bottom:20px

}
.container-form .container div input{
    width: 100%;
    background-color:white;
    border:none;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 2px 10px 2px rgb(170, 169, 169);
    height: 40px;
    font-family: poppins;
    font-weight:500;
}
.container-form .container .date{
    display: flex;
    margin: none;
    height: 64px;
}
.container-form .container .date .date-left-side{
    flex: 50%;

    padding-right: 5px;
    margin: none;
}
.container-form .container .date .date-right-side{
    flex: 50%;
    padding-left: 5px;
    margin: none;
}

.container-form div textarea{
    width: 100%;
    background-color: white;
    border:none;
    border-radius:5px;
    padding: 8px;
    box-shadow: 0px 2px 10px 2px rgb(170, 169, 169);
    height: 80px;
    resize: none;
    font-family: poppins;
    font-weight:500;
    text-align: justify;
}
/* .checkbox */
.container-form .checkbox{
    display: flex;
    height: 60px;
    margin-bottom: 30px;
}
.container-form .checkbox .left-checkbox{
    flex: 30%;
  
  
}
.container-form label{
    font-weight:600;
}
/* input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
} */
.icheckbox{
    margin-right: 10px;
}
input[type=checkbox]:before {
	font-family: "FontAwesome";
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    background: white;
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    margin-right: 7px;
    border-radius: 3px;
}

input[type=checkbox]:checked:before {

	color: rgb(0, 0, 0) !important;
}
.container-form .checkbox .right-checkbox{
    flex: 70%;
    
}
input[type=checkbox]{
    border-radius:30px;
    border-color: white;
    box-shadow: 0px 2px 10px 2px rgb(170, 169, 169);
}

/* form file gambar */
.container-form .input-blog-image-group {
    font-size: 20px;
    border: 1px solid #c4c4c4;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    height: 40px;
    box-shadow: 0px 2px 10px 2px rgb(170, 169, 169);
}
.container-form .input-blog-image-group label {
    display: flex;
   
}
.container-form .input-blog-image-group label .left-file {
    flex: 50%;   
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}
.container-form .input-blog-image-group label .left-file p {
    font-size: 15px;
    display: flex;
    background-color: rgb(220, 223, 228);
    color: grey;
    height: 40px;
    width: 70px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    }
.container-form .input-blog-image-group label .right-file {
    flex: 50%; 
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
}
.container-form .button-group button{
    background-color:black;
    border:none; 
    color:white;
    font-family: calibri;
    border-radius:20px;
    margin-top: 20px;
    padding: 5px 30px;
    font-size: medium;
    float:right;
    cursor: pointer;
}
/* CONTENT */
.container-content{
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 1200px;
    margin: auto;
   
}
.container-content .content{
   
    background-color: rgb(245, 245, 245);
    width: 95%;
    height: 1200px;
    margin: auto;
    padding-top: 40px;
}
.content h1{
    font-weight: 700;
    font-size: 40px;
}
.container-content .content .card-main{
   background-color:  rgb(245, 245, 245);
   display: flex;
   flex-wrap: wrap;
   padding-left: 25px;
}
.container-content .content .card-main .card{
    padding: 10px;
    background-color: white;
    margin: 20px;
    width: 350px;
    height: 460px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px rgb(170, 169, 169);
}
.card b{
    
    text-overflow: ellipsis; 
    overflow: hidden;
}
.card .paragraf p{
    display: flex; 
    justify-content : flex-start;
    /* opacity: .75; */
    /* membuat paragraf/tex tidak overflow  */
    text-overflow: ellipsis; 
    overflow: hidden;
    max-height: 55px;
    /* end membuat paragraf/tex tidak overflow  */
    font-size: 13px; 
    text-align: justify;
    font-weight: 500;
}
.icon i{
    font-size: 35px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.container-content .content .card-main .card .icon i .fa-google-play{
    font-size: 500px;
    color: aqua;
}
.card a{
    color: black;
    text-decoration: none;
}
.container-content .content .card-main .card .input-images{
    flex: 1;
   
}
.container-content .content .card-main .card .input-images img{
   
    width: 100%; 
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}
.container-content .content .card-main .card .btn-group {
    display: flex;
    align-items: flex-end;
   
}
.container-content .content .card-main .card .btn-group .edit {
    flex: 50%;
    display: flex;
    padding-right: 10px;
}
.btn-group .btn-edit {
    padding: 2px 60px;
    border: 0;
    width: 100%;
    border-radius: 8px;
    background-color: black;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
}
.container-content .content .card-main .card .btn-group .delete {
    flex: 50%;
    display: flex;
    justify-content: center;
    padding-left: 10px;
}
    
.btn-group .btn-post {
    padding: 2px 40px;
    border: 0;
    width: 100%;
    border-radius: 8px;
    background-color: black;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
}
/* DETAIL PROJECT */
.container-detail-top{
    display: flex;
    background-color: rgb(220, 223, 228);
    width: 100%;
    height: 550px;
    justify-content: center;

}
.container-detail-top .container-top{
    display: flex;
    width: 90%;
    background-color: rgb(220, 223, 228);
    margin:20px;
}
.container-detail-top .container-top .container-top-left{
    flex: 70%;
    height:500px
}
.container-detail-top .container-top .container-top-right{
    flex: 30%;
    background-color: rgb(220, 223, 228);
    height:450px;
    padding-left:60px;
   
}
.container-detail-top .container-top .container-top-right .detail{
    margin-left: 20px;
   
}
.container-detail-top .container-top .container-top-right .js{
   display: flex;
}
.js .js-left{
    flex: 50%;
}
.js .js-right{
    flex: 50%;
}
